body {
  font-size: smaller;
  max-width: 45em;
  margin: auto;
  padding: 0;
}

hr {
  margin-top: 4em;
  width: 4em;
  height: 1px;
  background-color: #aaa;
  border: none;
}

body main {
  padding: 2em;
}

main > h1.title {
  border-bottom: 1px solid #aaa;
}

main > h1.title,
main > p.subtitle {
  text-align: center;
  font-weight: bold;
}

main > h1.title {
  font-size: x-large;
}
main > p.subtitle {
  font-size: medium;
  margin-bottom: 5em;
}

.simple > li,
.simple > li p {
  margin-top: 0;
  margin-bottom: 0;
}

aside.footnote-list {
  margin-top: 4em;
  margin-left: 1ex;
  padding-left: 1em;
}

aside.footnote > span {
  display: block;
  float: left;
  clear: both;
}
aside.footnote > p {
  margin-left: 2em;
}

blockquote {
  font-style: italic;
}

span.literal {
  font-family: monospace;
  white-space: pre-wrap;
}

pre.literal-block {
  margin-left: 1em;
  margin-right: 1em;
}

span.label {
  display: block;
}

span.label > a {
  text-decoration: none;
}

span.fn-bracket {
  display: none;
}

dl.field-list.simple > dt {
  float: left;
}
